* {

    padding: 0;
    margin: 0;
}
body {

    font-family: 'Roboto Condensed', sans-serif;
    position: static;
 
}
/*----------------------------- header ---------------------------------*/
.navbar-logo {

    height: 40px;
    object-fit: contain;
}


.navbar-light {

    display: flex;
    justify-content: center;
    
}
.navbar {

    height: 130px;
}
.nav-links {

    margin-right: 10%;
    font-size: 20px;
    font-weight: bold;
    background-color: none;
    padding: 20px;
    
}
header {

    background-color: #fff4d66c;

}
.banner-bag img {

    height: 400px;
}
h1 { 
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    color: #07075e;
    font-weight: bolder;
}
h2 {
    font-size: 45px;
    font-weight: bolder;
    color: #07075e;
}
#header-span {

    color:rgb(114, 190, 114);
}
p { color: gray;
}
#buttons {

    color: white;
    background-color:  #07075e;
    border: 0;
    padding: 15px 25px;
}
/*----------------------------- header ---------------------------------*/

/*----------------------------- main section ---------------------------------*/
.about {

    display: flex;
    height: 145px;
    border-radius: 25px;
    padding: 0 20px;
}
.about img {

    height: 130px;

}
h5 {
    font-size: 25px;
    font-weight: bold;
    color:  #07075e;
}
h4 {

    font-size: 30px;
    color: rgb(107, 173, 107);
    font-weight: bold;
}

.about-us {

    margin-left: 20px;
}
.backpak-card {

    border: 0;
    border-radius: 20px;
}
.backpak-card img {

    background-color: lightgray;
    border-radius: 20px;
    text-align: center;
    max-width: 90%;
    margin: 20px;
}
.bacpak-card-button {

    padding: 20px 5px !important;

}
.backpak-footer {

    background-color: white;
    border: 0;
    border-radius: 20px !important;
}
.card-text {

    text-align: center;
}
/*----------------------------- main section ---------------------------------*/


/*----------------------------- EXTRA PART <footer> ---------------------------------*/
footer {

    background-color: #fff4d66c;
    padding: 30px 0;
}
/*----------------------------- EXTRA PART <footer> ---------------------------------*/


/*----------------------------- ------------------------------ -----------Responsive style  ----------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) { 



    .about img {
    
        height: 110px;
    
    }
    h5 {
        font-size: 30px;
        margin-top: 20px;
        text-align: center;
    }

    
    .about-us {
    
        margin-left: 20px;
    }

    @media only screen and (max-width: 991px) { 

    .nav-links {

        background-color: #fff4d6e8;

    }
}
    @media only screen and (max-width: 768px) { 

 
.about {

    display: flex;
    height: 345px;
    border-radius: 25px;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    }

    @media only screen and (max-width: 580px) { 

        .navbar-logo {

            height: 30px;
        }


        h5 {

            font-size: 25px;
        }
    }


 
    @media only screen and (max-width: 426px) { 



        .banner-bag img {

            height: 300px;
        }

        h5 {

            font-size: 20px;
        }

        .navbar-logo {

            height: 25px;
        }
        h1 {

            font-size: 40px;
        }
        h2 {

            font-size: 25px;
        }

    }




}
/*----------------------------- ------------------------------ -----------Responsive style  ----------------------------------------------------------------------*/